<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="GROWVATECH">
    <meta name="keywords" content="GROWVATECH">
    <meta name="author" content="GROWVATECH">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="../../assets/images/logo/favicon.png" type="image/x-icon">
    <title>GROWVATECH - User App</title>
    <link rel="apple-touch-icon" href="../../assets/images/logo/favicon.png">
    <meta name="title-color" content="#00162E">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="GROWVATECH">
    <meta name="msapplication-TileImage" content="../../assets/images/logo/favicon.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
        rel="stylesheet">

    <!-- swiper css -->
    <link rel="stylesheet" type="text/css" href="../../assets/css/vendors/swiper-bundle.min.css">

    <!-- iconsax css -->
    <link rel="stylesheet" type="text/css" href="../../assets/css/vendors/iconsax.css">

    <!-- bootstrap css -->
    <link rel="stylesheet" id="rtl-link" type="text/css" href="../../assets/css/vendors/bootstrap.css">

    <!-- Theme css -->
    <link rel="stylesheet" id="change-link" type="text/css" href="../../assets/css/style.css">
    <script src="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.css" />
</head>

<body>
    <!-- loader start-->
    <div class="loader-wrapper" id="loader">
        <span class="loader"></span>
    </div>
    <!-- loader end -->

    <!-- header start -->
    <header class="header">
        <div class="custom-container">
            <div class="head-content">
                <a href="#sidebar" class="sidebar-btn" data-bs-toggle="offcanvas">
                    <i class="iconsax" data-icon="text-align-left"></i>
                </a>
                <a href="location.html" class="header-location">
                    <!--<div class="location-icon">
                        <img class="img-fluid location" src="../../assets/images/svg/location.svg" alt="location">
                    </div>-->
                    <div class="location-content">
                        <!--<div class="d-flex align-items-center gap-1">
                            <h6>Current Location</h6>
                            <i class="iconsax d-arrow" data-icon="chevron-down"></i>
                        </div>-->
                        <h5>+225 07 777 829 13</h5>
                    </div>
                </a>
                <div class="d-flex align-items-center gap-2">
                    <!--<a href="search.html">
                        <i class="iconsax icon-btn" data-icon="search-normal-2"></i>
                    </a>-->
                <a href="#failed-booking" data-bs-toggle="modal">               
                    <!--<a href="notification.html">-->
                        <i class="iconsax icon-btn notification-icon" data-icon="bell-2"></i>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->

    <!-- banner section starts -->
    <section class="section-lg-t-space">
        <div class="container-fluid p-0">
            <div class="position-relative">
                <img class="img-fluid home-banner w-100 position-relative" src="../../assets/images/banner/banner1.png"
                    alt="banner">
                <div class="banner-content position-absolute">
                    <h6 class="fw-medium text-white error-bg px-2 py-1 rounded-pill d-inline-flex">Solution simple</h6>
                    <h3 class="fw-bold text-uppercase mt-1">efficaces et adaptées</h3>
                    <h6 class="content-color fw-normal mt-1">#Au service de votre réussite.</h6>
                    <a href="#category-details.html" class="btn theme-btn p-1 px-2 mt-4">GROWVATECH</a>
                </div>
            </div>
        </div>
    </section>
    <!-- banner section end -->
    <section>
        <ul class="booking-list custom-container">
            <li class="booking-box">
                <div class="booking-details balance-background">
                    <div class="d-flex align-items-center gap-2">
                        <div class="service-content">
                            <a href="packages-booking-details.html" class="d-flex align-items-center gap-2 mb-1">
                                <h5 class="white fw-medium" style="color:white">#58961</h5>
                                <h6 class="booking-tag success-bg" style="color:white">Package</h6>
                            </a>
                            <a href="pending-booking-details.html">
                                <h4 class="white fw-medium" style="color:white">Curtain Cleaning</h4>
                            </a>
                            <div class="d-flex align-items-center gap-2 mt-1">
                                <h3 class="white fw-bold " style="color:white">$22.00</h3>
                                <h6 class="white fw-medium" style="color:white">(10% off)</h6>
                            </div>
                        </div>
                        <div class="service-img">
                            <img class="img-fluid img" src=" https://api.qrserver.com/v1/create-qr-code/?size=150x150&data=4900 0000 0000 0003" alt="1">
                        </div>
                    </div>        
                </div>
            </li>
        </ul>
    </section>
    <!-- offer section start -->
    <section>
        <div class="custom-container">
            <!--<div class="title">
                <h2>Coupons</h2>
                <a href="coupon.html">View all</a>
            </div>-->

            <div class="balance-background">
                <div class="balance-details">
                    <div>
                        <h6>Identifiant :</h6>
                        <h4 class="mt-1">4900 0000 0000 0003</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- offer section end -->

    <!-- categories section starts -->
    <section>
        <div class="custom-container">
            <!--<div class="title">
                <h2>Top categories</h2>
                <a href="category-grid.html">View all</a>
            </div>-->
            <div class="row g-3">
                <div class="col-3">
                    <a href="v380pro://"
   onclick="setTimeout(function(){ 
       window.open('https://play.google.com/store/apps/details?id=com.macrovideo.v380pro', '_blank'); 
   }, 500); return true;">
                        <div class="categories-box">
                            <img class="categories-icon" src="../../assets/images/categories/ac-repair.svg"
                                alt="ac-repair">
                        </div>
                        <h5 class="categories-name mt-2 text-center title-color">Ac Repair</h5>
                    </a>
                </div>

                <div class="col-3">
                    <a href="category-details.html">
                        <div class="categories-box">
                            <img class="categories-icon" src="../../assets/images/categories/cleaning.svg"
                                alt="cleaning">
                        </div>
                        <h5 class="categories-name mt-2 text-center title-color">Cleaning</h5>
                    </a>
                </div>
                <div class="col-3">
                    <a href="category-details.html">
                        <div class="categories-box">
                            <img class="categories-icon" src="../../assets/images/categories/carpenter.svg"
                                alt="carpenter">
                        </div>
                        <h5 class="categories-name mt-2 text-center title-color">Carpenter</h5>
                    </a>
                </div>

                <div class="col-3">
                    <a href="category-details.html">
                        <div class="categories-box">
                            <img class="categories-icon" src="../../assets/images/categories/cooking.svg" alt="cooking">
                        </div>
                        <h5 class="categories-name mt-2 text-center title-color">Cooking</h5>
                    </a>
                </div>

                <div class="col-3">
                    <a href="category-details.html">
                        <div class="categories-box">
                            <img class="categories-icon" src="../../assets/images/categories/electrician.svg"
                                alt="electrician">
                        </div>
                        <h5 class="categories-name mt-2 text-center title-color">Electrician</h5>
                    </a>
                </div>

                <div class="col-3">
                    <a href="category-details.html">
                        <div class="categories-box">
                            <img class="categories-icon" src="../../assets/images/categories/painter.svg" alt="painter">
                        </div>
                        <h5 class="categories-name mt-2 text-center title-color">Painter</h5>
                    </a>
                </div>

                <div class="col-3">
                    <a href="category-details.html">
                        <div class="categories-box">
                            <img class="categories-icon" src="../../assets/images/categories/salon.svg" alt="salon">
                        </div>
                        <h5 class="categories-name mt-2 text-center title-color">Salon</h5>
                    </a>
                </div>

                <div class="col-3">
                    <a href="category-details.html">
                        <div class="categories-box">
                            <img class="categories-icon" src="../../assets/images/categories/plumber.svg" alt="plumber">
                        </div>
                        <h5 class="categories-name mt-2 text-center title-color">Plumber</h5>
                    </a>
                </div>
                <div class="col-3">
                    <a href="category-details.html">
                        <div class="categories-box">
                            <img class="categories-icon" src="../../assets/images/categories/painter.svg" alt="painter">
                        </div>
                        <h5 class="categories-name mt-2 text-center title-color">Painter</h5>
                    </a>
                </div>

                <div class="col-3">
                    <a href="category-details.html">
                        <div class="categories-box">
                            <img class="categories-icon" src="../../assets/images/categories/salon.svg" alt="salon">
                        </div>
                        <h5 class="categories-name mt-2 text-center title-color">Salon</h5>
                    </a>
                </div>

                <div class="col-3">
                    <a href="category-details.html">
                        <div class="categories-box">
                            <img class="categories-icon" src="../../assets/images/categories/plumber.svg" alt="plumber">
                        </div>
                        <h5 class="categories-name mt-2 text-center title-color">Plumber</h5>
                    </a>
                </div>
                 <div class="col-3">
                    <a href="category-details.html">
                        <div class="categories-box">
                            <img class="categories-icon" src="../../assets/images/categories/plumber.svg" alt="plumber">
                        </div>
                        <h5 class="categories-name mt-2 text-center title-color">Plumber</h5>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- categories section end -->
    <section>
        <div class="custom-container">
            <ul class="offer-list">
                <li class="w-100">
                    <a href="#service-details.html">
                        <img class="offer-img w-100" src="../../assets/images/banner/banner6.jpg" alt="banner">
                    </a>
                </li>
            </ul>
        </div>
    </section>
    

    <!-- blog section starts -->
    <!--<section class="section-b-space">
        <div class="custom-container">
            <div class="title">
                <h2>Latest Blog</h2>
                <a href="blog.html">View all</a>
            </div>

            <div class="swiper blog-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="blog-box ratio2_3">
                            <a href="blog-details.html" class="blog-box-img">
                                <img class="bg-img blog-img" src="../../assets/images/blog/1.jpg" alt="1">
                            </a>
                            <div class="blog-details">
                                <a href="blog-details.html">
                                    <h4>Switchboard and wiring electrical issue</h4>
                                </a>
                                <h6>Electrician | 5 June, 2024</h6>

                                <div class="d-flex align-items-center justify-content-between mt-3">
                                    <div class="message">
                                        <i class="iconsax icon" data-icon="message-dots"></i>
                                        <h6>23</h6>
                                    </div>

                                    <h6 class="mt-0 theme-color">- By admin</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="blog-box ratio2_3">
                            <a href="blog-details.html" class="blog-box-img">
                                <img class="bg-img blog-img" src="../../assets/images/blog/2.jpg" alt="1">
                            </a>
                            <div class="blog-details">
                                <a href="blog-details.html">
                                    <h4>Man trimming his beard and hair cutting</h4>
                                </a>
                                <h6>Hair cutting | 12 June, 2024</h6>

                                <div class="d-flex align-items-center justify-content-between mt-3">
                                    <div class="message">
                                        <i class="iconsax icon" data-icon="message-dots"></i>
                                        <h6>15</h6>
                                    </div>

                                    <h6 class="mt-0 theme-color">- By admin</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="blog-box ratio2_3">
                            <a href="blog-details.html" class="blog-box-img">
                                <img class="bg-img blog-img" src="../../assets/images/blog/3.jpg" alt="1">
                            </a>
                            <div class="blog-details">
                                <a href="blog-details.html">
                                    <h4>Bring Joy and Unity on this paint</h4>
                                </a>
                                <h6>Painting | 15 June, 2024</h6>

                                <div class="d-flex align-items-center justify-content-between mt-3">
                                    <div class="message">
                                        <i class="iconsax icon" data-icon="message-dots"></i>
                                        <h6>10</h6>
                                    </div>

                                    <h6 class="mt-0 theme-color">- By admin</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <!-- blog section starts -->

    <!-- panel-space start -->
    <div class="panel-space"></div>
    <!-- panel-space end -->

    <!-- bottom navbar start -->
    <div class="navbar-menu">
        <ul>
            <li class="active">
                <a href="home.html">
                    <div class="icon">
                        <img class="unactive" src="../../assets/images/svg/home.svg" alt="home">
                        <img class="active" src="../../assets/images/svg/home-fill.svg" alt="home">
                    </div>
                    <h5 class="active">Services</h5>
                </a>
            </li>

            <li>

                <a href="#failed-booking" data-bs-toggle="modal">               
 <!--<a href="booking.html">-->
                    <div class="icon">
                        <img class="unactive" src="../../assets/images/svg/booking.svg" alt="booking">
                        <img class="active" src="../../assets/images/svg/booking-fill.svg" alt="booking">
                    </div>
                    <h5>Produits</h5>
                </a>
            </li>

            <li>
                <a href="#failed-booking" data-bs-toggle="modal">               
                <!--<a href="cart.html" class="scanner-btn">-->
                    <div class="icon">
                        <i class="iconsax icon-btn" data-icon="shopping-cart"></i>
                    </div>
                </a>
            </li>

            <li>
                <a href="#failed-booking" data-bs-toggle="modal">               
                <!--<a href="offer.html">-->
                    <div class="icon">
                        <img class="unactive" src="../../assets/images/svg/offer.svg" alt="offer">
                        <img class="active" src="../../assets/images/svg/offer-fill.svg" alt="offer">
                    </div>
                    <h5>Offres</h5>
                </a>
            </li>

            <li>
                <a href="#failed-booking" data-bs-toggle="modal">               
                <!--<a href="profile.html">-->
                    <div class="icon">
                        <img class="unactive" src="../../assets/images/svg/profile.svg" alt="profile">
                        <img class="active" src="../../assets/images/svg/profile-fill.svg" alt="profile">
                    </div>
                    <h5>Profile</h5>
                </a>
            </li>
        </ul>
    </div>
    <!-- bottom navbar end -->

    <!-- sidebar starts -->
    <div class="offcanvas sidebar-offcanvas offcanvas-start" tabindex="-1" id="sidebar">
        <div class="offcanvas-header sidebar-header">
            <div class="sidebar-logo">
                <img class="img-fluid logo" src="../../assets/images/logo/Logogvt.png" alt="logo">
                <img class="img-fluid logo-dark" src="../../assets/images/logo/logo-white.png" alt="logo">
            </div>
        </div>
        <div class="offcanvas-body">
            <div class="profile-background">
                <div class="profile-part p-0">
                    <div class="profile-image">
                        <img id="output" class="img-fluid profile-pic" src="../../assets/images/profile/p11.png"
                            alt="11">
                    </div>

                    <h3>+225 07 777 829 13</h3>
                    <h4>4900 0000 0000 0003</h4>
                </div>
            </div>


            <!--<ul class="profile-list">
                <li>
                    <a href="../user-app/index.html" class="setting-box">
                        <div class="setting-icon">
                            <i class="iconsax main-icon" data-icon="user-2"> </i>
                        </div>
                        <div class="setting-content">
                            <h5>User App</h5>
                            <i class="iconsax arrow" data-icon="chevron-right"></i>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="../provider-app/index.html" class="setting-box">
                        <div class="setting-icon">
                            <img class="img-fluid main-icon main-img" src="../../assets/images/svg/provider-app.svg"
                                alt="provider-app">
                        </div>
                        <div class="setting-content">
                            <h5>Provider App</h5>
                            <i class="iconsax arrow" data-icon="chevron-right"></i>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="../servicemen-app/index.html" class="setting-box">
                        <div class="setting-icon">
                            <img class="img-fluid main-icon main-img" src="../../assets/images/svg/servicemen-app.svg"
                                alt="servicemen-app">
                        </div>
                        <div class="setting-content">
                            <h5>Servicemen App</h5>
                            <i class="iconsax arrow" data-icon="chevron-right"></i>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="page-listing.html" class="setting-box">
                        <div class="setting-icon">
                            <i class="iconsax main-icon" data-icon="book-closed"> </i>
                        </div>
                        <div class="setting-content">
                            <h5>Template Pages</h5>
                            <i class="iconsax arrow" data-icon="chevron-right"></i>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="../elements/elements-page.html" class="setting-box">
                        <div class="setting-icon">
                            <i class="iconsax main-icon" data-icon="document-text-1"> </i>
                        </div>
                        <div class="setting-content">
                            <h5> Template Elements</h5>
                            <i class="iconsax arrow" data-icon="chevron-right"></i>
                        </div>
                    </a>
                </li>

                <li>
                    <div class="setting-box">
                        <div class="setting-icon">
                            <i class="iconsax main-icon" data-icon="repeat"> </i>
                        </div>
                        <div class="setting-content">
                            <h5>RTL</h5>
                            <div class="switch-btn">
                                <input id="dir-switch" type="checkbox">
                            </div>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="setting-box">
                        <div class="setting-icon">
                            <i class="iconsax main-icon" data-icon="brush-3"> </i>
                        </div>
                        <div class="setting-content">
                            <h5>Dark</h5>
                            <div class="switch-btn">
                                <input id="dark-switch" type="checkbox">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>-->

            <div class="bottom-sidebar">
                <a href="login-number.html" class="pages">
                    <i class="iconsax sidebar-icon" data-icon="logout-2"> </i>
                    <h3>Déconnexion</h3>
                </a>
            </div>
        </div>
    </div>
    <!-- sidebar end -->

    <!-- failed book modal starts -->
    <div class="modal centered-modal fade" id="failed-booking" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Poursuivre mon inscription</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div class="successful-icon p-4 text-center">
                        <img class="img-fluid icon" src="../../assets/images/failed-booking.png"
                            alt="delete-notification">
                    </div>
                    <p>Veuillez contacter le service client au 2733806006 pour l'activation du votre carte.</p>
                </div>
                <div class="modal-footer">
                    <a href="#successfull-booking" data-bs-toggle="modal" class="btn theme-btn w-100">Annulé</a>
                </div>
            </div>
        </div>
    </div>
    <!-- failed book modal end -->


    <!-- swiperjs -->
    <script src="../../assets/js/swiper-bundle.min.js"></script>
    <script src="../../assets/js/custom-swiper.js"></script>

    <!-- iconsax js -->
    <script src="../../assets/js/iconsax.js"></script>

    <!-- bootstrap js -->
    <script src="../../assets/js/bootstrap.bundle.min.js"></script>

    <!-- template-setting js -->
    <script src="../../assets/js/template-setting.js"></script>

    <!-- script js -->
    <script src="../../assets/js/script.js"></script>
</body>

<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/12.0.0/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/12.0.0/firebase-analytics.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyBSGcluYRKGliEsaOXLAvE5nxzNoxF13nw",
    authDomain: "growvatech-7d142.firebaseapp.com",
    projectId: "growvatech-7d142",
    storageBucket: "growvatech-7d142.firebasestorage.app",
    messagingSenderId: "94260453130",
    appId: "1:94260453130:web:d1f39dddcad26c07f8e4f3",
    measurementId: "G-33V7V4D4LN"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>

</html>
